* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Akrobat;
    overflow: hidden;
}

body {
    background: black;
    background-position: center;
    background-size: cover;

    color: white;
    font-size: 7vw;
}



#chartdiv {
    width: 100%;
    /*width: 128%;*/
    /*margin-left: -16%;*/
    height: 400px;
    margin-top: -2vw;
    margin-bottom: -2vw;
}

tspan, text {
    color: white !important;
    fill: white !important;
    font-size: 3vw !important;
}



#weight-container-outer {
    background: url("../images/weight-container.svg") no-repeat center;
    background-size: contain;
    width: 95vw;
    height: 95vw;
    margin-left: 2.5vw;
    text-align: center;
    font-weight: 600;
    position: relative;
}

#weight {
    font-size: 28vw;
    line-height: 93vw;
    min-width: 45vw;
    display: inline-block;
}

.body-fat-indicator {
    position: absolute;
    top: 0;
    left: 0;

    width: 80vw;
    height: 80vw;

    margin-left: 7.5vw;
    margin-top: 7.5vw;

    padding-top: 55vw;

    background: url('https://a.1stdibscdn.com/archivesE/upload/f_30733/f_88765331508868313940/Well_master.jpg?width=768') no-repeat;
    background-position: center 82vw;
    background-size: cover;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;

    z-index: -1;

    box-shadow: 0vw -7vw 10vw black inset;

    transition: all 1s;
}

.body-fat-indicator .indicator-name {
    font-size: 4vw;
}

.body-fat-indicator .indicator-value {
    font-size: 11vw;
    line-height: 8vw;
}





.middle-block {
    width: 100vw;
    font-size: 0;
    margin-top: -5vw;
}

.photo-block, .bmi-block, .water-block {
    display: inline-block;
    text-align: center;
    font-size: 4vw;
    vertical-align: top;
}

.bmi-block, .water-block {
    width: 40vw;
}

.middle-block .indicator-value {
    font-size: 6vw;
    font-weight: 600;
}

.photo-block {
    width: 15vw;
    height: 15vw;

    margin: 2.5vw;
    margin-top: 6vw;

    border: 0.4vw solid white;
}

.photo-block img {
    width: 50%;
    margin-top: 25%;
}

.bmi-block {
}

.water-block {
}

.middle-block .bar {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 1.3vw;
    margin-top: 1vw;
}

.bmi-block .bar {
    background-image: url("../images/bmi_bar.svg");
}

.bmi-block .bar .value {
    width: 1.5vw;
    height: 100%;

    background: white;

    margin-left: -2vw;

    transition: all 1s;
}

.water-block .bar {
    background-color: white;
    padding: 0;
}

.water-block .bar .value {
    width: 0;
    height: 100%;

    margin: 0;
    padding: 0;

    background: #0091d4;

    transition: width 1s;
}



.time-range {
    text-align: center;
    font-size: 5vw;
    font-weight: 400;
}

.time-range .time-range-selector {
    border: 0.3vw solid white;
    width: 15vw;
    padding: 2vw 1vw;
}

.time-range-selector-container {
    display: inline-block;
    border-bottom: 1.5vw solid #343434;
    padding-bottom: 0.8vw;
    width: 15vw;
    transition: all 0.3s;
}

.time-range-selector-container.active {
    border-bottom-color: #9e0005;
}